.about-us {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 200px;
}
.about-us-container {
  display: flex;
  justify-content: space-between;
}
.about-us-inner {
  width: 600px;
}
.about-us-inner p {
  width: 590px;
  color: var(--gray);
}
.about-us h3 {
  font-size: 48px;
  color: var(--dark-color);
}
.stats {
  display: grid;
  grid-template-columns: 75px 300px 150px;
}
.stats-item {
  text-align: center;
  color: var(--gray);
}
.num {
  color: var(--dark-color);
  font-size: 40px;
  font-weight: 600;
}
.stats-text {
}
.people {
}
.teachers {
}
.languages {
}

@media screen and (max-width: 900px) {
  .about-us {
    margin-left: 10px;
    margin-right: 10px;
  }
  .about-us-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-us-inner {
    order: 2;
  }
  .about-us h3 {
    text-align: center;
    font-size: 24px;
  }
  .about-us-inner p {
    text-align: center;
    margin: 0 auto;
    height: 700px;
    width: 200px;
  }
  .about-us img {
    width: 283px;
    height: 283px;
    order: 1;
  }
  .stats {
    grid-template-columns: 150px;
    grid-template-rows: 300px 300px 300px;
    justify-content: center;
  }
}
