.about-us {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 200px;
}
.about-us-container {
  display: flex;
  justify-content: space-between;
}
#first-header {
  display: none;
  font-size: 48pt;
  color: var(--dark-color);
}
.about-us-container img {
  align-self: center;
}
.about-us-inner p {
  color: var(--gray);
  margin-right: 70px;
  font-size: 20pt;
}
#second-header {
  font-size: 48pt;
  color: var(--dark-color);
}
.stats {
  display: grid;
  grid-template-areas: "one two three";
  grid-gap: 20pt;
  margin-top: 20px;
}
.people {
  grid-area: one;
}
.teachers {
  grid-area: two;
}
.languages {
  grid-area: three;
}
.stats-item {
  text-align: center;
  color: var(--gray);
  font-size: 20pt;
}
.num {
  color: var(--dark-color);
  font-size: 40pt;
  font-weight: 600;
}
@media screen and (max-width: 1000px) {
  .about-us-container img {
    width: 300px;
    height: 300px;
  }
  #second-header {
    font-size: 30pt;
  }
  .about-us-inner p {
    font-size: 14pt;
  }
  .num {
    font-size: 20pt;
  }
  .stats-item {
    font-size: 13pt;
  }
}
@media screen and (max-width: 700px) {
  #first-header {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 24pt;
  }
  .about-us-container img {
    width: 350px;
    height: 350px;
    order: 1;
  }
  .about-us-container {
    flex-direction: column;
  }
  #second-header {
    display: none;
  }
  .about-us-inner {
    text-align: center;
    order: 2;
  }
  .about-us-inner p {
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .stats {
    grid-template-areas: "one" "two" "three";
    grid-gap: 60px;
  }
  .about-us-inner p {
    font-size: 13pt;
  }
}
