:root {
  --dark-color: #263238;
  --gray: #8f95a5;
  --light-gray: #f5f5f5;
}
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
button {
  border: none;
  transition: 200ms ease;
}
button:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
@media screen and (max-width: 1440px) {
  /* let's talks */
  .lets-talk {
    width: 160px;
    height: 50px;
  }
  /* navbar */
  .nav-links {
    margin-right: 50px;
  }
  /* about us */
  .about-us {
    margin-left: 20px;
    margin-right: 0;
  }
  /* get-started */
  .get-started {
    margin-left: 20px;
    margin-right: 0;
  }
  /* skils */
  .skills-container {
    margin-left: 40px;
    margin-right: 0;
  }
  .contuct-us {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1428px) {
  /* skills */
  .skills-container {
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 500px 300px;
  }

  .speaking img {
    width: 250px;
    height: 250px;
  }
  .writing img {
    width: 200px;
    height: 200px;
  }
  .reading img {
    width: 250px;
    height: 150px;
  }
  .listening img {
    width: 280px;
    height: 200px;
  }
  .item p {
    width: 260px;
    height: 100px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .item button {
    margin: 0;
    width: 200px;
    height: 60px;
  }
  .speaking p {
    width: 250px;
    height: 250px;
  }
}
@media screen and (maax-width: 1350px) {
  /* skills */
  .skills-container {
    margin-left: 20px;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 500px 300px;
  }
}
@media screen and (max-width: 1280px) {
  /* skills */
  .skills-container {
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 500px 300px;
  }
  .item p {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .item button {
    width: 200px;
    height: 60px;
  }

  .speaking img {
    width: 250px;
    height: 250px;
  }
  .writing img {
    width: 200px;
    height: 200px;
  }
  .reading img {
    width: 250px;
    height: 200px;
  }
  .listening img {
    width: 280px;
    height: 200px;
  }
  .item p {
    width: 260px;
    height: 100px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .item button {
    margin: 0;
    width: 200px;
    height: 60px;
  }
  .speaking p {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 1250px) {
  /* skills */
  .skills-container {
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 450px 300px;
  }
  .item p {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .item button {
    width: 200px;
    height: 60px;
  }
  .speaking p {
    width: 200px;
    height: 270px;
  }
  .speaking img {
    width: 220px;
    height: 220px;
  }
  .speaking h3 {
    font-size: 20px;
  }
  .writing p {
    width: 200px;
    height: 100px;
  }
  .writing img {
    width: 200px;
    height: 200px;
  }
  .writing h3 {
    font-size: 20px;
  }
  .reading p {
    width: 200px;
    height: 100px;
  }
  .reading img {
    width: 214px;
    height: 200px;
  }
  .reading h3 {
    font-size: 20px;
  }
  .listening img {
    width: 220px;
    height: 200px;
  }
  .listening p {
    width: 200px;
    height: 114px;
    margin-bottom: 0;
  }
  .listening h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 990px) {
  .skills-container {
    margin-left: 100px;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: 650px 650px;
  }
  .item p {
    width: 200px;
    height: 250px;
  }
  .item img {
    width: 200px;
    height: 200px;
  }
  .speaking {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
  .reading {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }
  .listening {
    display: block;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }
  .listening-inner {
    position: relative;
    top: -30px;
  }
}
@media screen and (max-width: 700px) {
  .skills-container {
    margin-left: 100px;
    grid-template-columns: 290px;
    grid-template-rows: 600px 600px 600px 600px;
  }
  .writing {
    grid-row: 2 / 2;
  }
  .reading {
    grid-row: 3 / 3;
  }
  .listening {
    grid-column: 1 / 1;
    grid-row: 4 / 4;
  }
}
