.get-started {
  margin-left: 100px;
  margin-right: 100px;
}
.get-started-container {
  display: flex;
  justify-content: center;
  padding: 0 50px;
}

.girl {
  width: 660px;
  height: 660px;
}
.blub {
  position: absolute;
  left: 500px;
  top: 270px;
  width: 150px;
  height: 150px;
}
.get-started-inner h2 {
  font-size: 65px;
  font-weight: 600;
  color: black;
}
.get-started-inner p {
  color: var(--gray);
  font-size: 18px;
}
.get-started-inner {
}

.get-started-bt {
  width: 440px;
  height: 120px;
  color: white;
  font-size: 30px;
  text-transform: capitalize;
  border-radius: 5px;
  background-color: var(--dark-color);
}

.get-started-bt:hover {
  color: var(--dark-color);
  background-color: white;
  border: 2px solid var(--dark-color);
}

@media screen and (max-width: 1200px) {
  .get-started {
    margin-left: 10px;
    margin-right: 10px;
  }
  .blub {
    visibility: hidden;
  }
  .get-started-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .girl {
    order: 1;
    width: 700px;
    height: 700px;
  }
  .get-started-inner {
    order: 2;
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
  .girl {
    width: 300px;
    height: 300px;
  }
  .get-started-inner h2 {
    font-size: 24px;
  }
  .get-started-inner p {
    font-size: 14px;
  }
  .get-started-inner h2 {
    font-size: 24px;
  }
  .get-started-bt {
    width: 200px;
    height: 60px;
    font-size: 24px;
  }
}
