.navbar {
  margin-right: 100px;
  margin-left: 100px;
}
.navbar-container {
  display: flex;
  margin-top: 25px auto;
  width: 100%;
  height: 100px;
}
.logo {
  box-sizing: border-box;
  position: relative;
  top: 25%;
  width: 120px;
  height: 50px;
  margin-right: 250px;
}
.nav-links {
  display: inline-flex;
  box-sizing: border-box;
  position: relative;
  top: 40%;
  width: 600px;
  height: 50px;
  font-weight: 500;
  margin-right: 150px;
}
.nav-link {
  color: var(--dark-color);
  font-size: 20px;
  padding-right: 20px;
}
.nav-link:nth-child(3) {
  padding-right: 100px;
}
.lets-talk {
  display: block;
  position: relative;
  top: 15%;
  width: 220px;
  height: 70px;
  background-color: white;
  border: 2px solid var(--dark-color);
  border-radius: 5px;
  color: var(--dark-color);
  font-size: 24px;
}
.lets-talk:hover {
  background-color: var(--dark-color);
  color: white;
  border: none;
}
.dropdown {
  visibility: hidden;
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 1500px) {
  .lets-talk {
    width: 160px;
    height: 60px;
  }
}

@media screen and (max-width: 1480px) {
  .lets-talk {
    display: none;
  }
  .nav-links {
    display: none;
  }
  .navbar-container {
    justify-content: space-between;
  }
  .dropdown {
    visibility: visible;
    position: relative;
    top: 25%;
  }
  .navbar {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 500px) {
  .dropdown {
    width: 75px;
    height: 50px;
  }
}
