.skills {
  margin-left: 100px;
  margin-right: 100px;
}
.skills h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
}
.skills-container {
  display: grid;
  grid-template-areas:
    "one two three"
    "one four four";
  grid-gap: 30px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: stretch;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-gray);
  border-radius: 10px;
  padding: 30px;
}
.item h3 {
  color: var(--dark-color);
  font-size: 30pt;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}
.item p {
  color: var(--gray);
  font-size: 14pt;
}
.item img {
  max-width: 100%;
  height: 250px;
}
.item button {
  width: 220px;
  height: 60px;
  color: white;
  background-color: var(--dark-color);
  border-radius: 5px;
  font-size: 18px;
}
.item button:hover {
  border: 1px solid var(--dark-color);
  background-color: var(--light-gray);
  color: var(--dark-color);
}
.speaking {
  grid-area: one;
}
.writing {
  grid-area: two;
}
.reading {
  grid-area: three;
}
.listening {
  grid-area: four;
  flex-direction: row;
}
.listening img {
  order: 2;
  max-height: 100%;
}
.listening-inner {
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  .skills-container {
    display: grid;
    grid-template-areas:
      "one two"
      "three four";
  }
  .listening {
    display: flex;
    flex-direction: column;
  }
  .listening img {
    order: 1;
  }
  .listening-inner {
    order: 2;
  }
  .item {
    justify-content: flex-start;
    height: 800px;
    align-items: flex-start;
  }
  .item p {
    font-size: 12pt;
    height: 400px;
    margin: 0;
  }
  .listening-inner p {
    height: 370px;
  }
  .item button {
    align-self: auto;
  }
  .listening-inner {
    margin: 0;
  }
}
@media screen and (max-width: 600px) {
  .skills-container {
    grid-template-areas: "one" "two" "three" "four";
  }
  .item {
    height: 600px;
  }
  .speaking {
    height: 800px;
  }
  .item img {
    align-self: center;
  }
  .item p {
    font-size: 10pt;
    height: auto;
    margin: 0;
  }
  .item button {
    margin-top: 70px;
    align-self: flex-start;
  }
}
